@model ProyectoProgra4.Entidades.clsRutina

@{
    ViewBag.Title = "RutinasLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

<div class="container body-content">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="one field">
        <div class="field" id="comboBox">
            <label>Escoja el tipo de rutina que desea ver: </label>
            @Html.DropDownListFor(m => m.motivo, ViewBag.ListaComboDis as List<SelectListItem>, new { onchange = "obtenerRutina()", @id = "selectedRutina" })
        </div>
    </div>
    <div class="ui container">
        <img class="ui fluid image" id="imgRutina" />
    </div>
    <br />
</div>


@section Scripts
{
    @Scripts.Render("/Funciones/RutinaF.js")
}


