@{
    ViewBag.Title = "Contact";
}

<form action="/" method="post">

    <div class="ui form">
        <label>Formulario de Contacto</label>
        <div class="ui middle aligned center aligned grid">

            <div class="ui form">
                <div class="field">
                    <label>Nombre</label>
                    <div class="ui left icon input">
                        <input type="text" placeholder="">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Apellidos</label>
                    <div class="ui left icon input">
                        <input type="text" placeholder="">
                        <i class="user icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Teléfono</label>
                    <div class="ui left icon input">
                        <input type="text" placeholder="">
                        <i class="phone icon"></i>
                    </div>
                </div>
                <div class="field">
                    <label>Correo Electrónico</label>
                    <div class="ui left icon input">
                        <input type="text" placeholder="">
                        <i class="envelope icon"></i>
                    </div>
                </div>
                <div class="middle aligned column">
                    <div class="ui button">
                        <i class="envelope icon"></i>
                        Enviar
                    </div>
                </div>


            </div>


        </div>

        

    </div>
     

</form>