
<head>
 
    @Styles.Render("~/Content/css")
  
</head>

<br />
@using (Html.BeginForm("SendEmail", "PaginaPrincipal", FormMethod.Post))
{
    <div class="container">
        <div class="ui form" style="color:white;">
            <div class="ui middle aligned center aligned grid">
                <div class="ui form">
                    @*<h3>Formulario de contacto</h3>*@
                    <h2 id="fraseFinal" class="font-weight-bold mb-4" style="text-align:center">
                        <i class="small circle icon" style="color: #F05742"></i>FORMULARIO DE <span class="colorDos" style="color:#F05742; font-size: 30px">CONTACTO</span>
                    </h2>
                    <br />
                    <div class="field">
                        <div class=" label" style=" font-size:medium;">
                           Nombre
                        </div>
                        <div class="ui left icon input">
                            <input type="text" placeholder="" name="nombre">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class=" label" style=" font-size:medium;">
                            Apellidos
                        </div>
                        <div class="ui left icon input">
                            <input type="text" placeholder="" name="apellidos">
                            <i class="user icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class=" label" style=" font-size:medium;">
                            Teléfono
                        </div>
                        <div class="ui left icon input">
                            <input type="text" placeholder="" name="telefono">
                            <i class="phone icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class=" label" style=" font-size:medium;">
                            Correo Electrónico
                        </div>
                        <div class="ui left icon input">
                            <input type="text" placeholder="" name="email">
                            <i class="envelope icon"></i>
                        </div>
                    </div>
                    <div class="field">
                        <div class=" label" style=" font-size:medium;">
                            Mensaje
                        </div>
                        <div class="ui left icon input">
                            <input type="text" placeholder="" name="mensaje">
                            <i class="edit outline icon"></i>
                        </div>
                    </div>
                    <br />
                    <div class="middle aligned column" style="text-align: center">
                        <button class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white"type="submit"><i class="envelope icon"></i>Enviar</button>
                        @*<input type="submit" id="btnReservar" class="ui medium button" style="margin-top: 10px; background-color:#F05742; color:white" value="Reservar" ">*@
                    </div>

                </div>
            </div>
        </div>
    </div>
}

