
@model ProyectoProgra4.Entidades.clsRutinas

@{
    ViewBag.Title = "Rutinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

@using (Html.BeginForm("InsertarReserva", "Reservar", FormMethod.Post, new { @class = "ui form" }))
    <div class="container body-content">
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <form class="ui form">
            <div class="one field">
                <div class="field">
                    <h2>Seleccione el estilo de rutina que desea visualizar: </h2>
                    <select name="Motivo" id="listaMotivos">
                        <option value="Aficionado">Aficionado</option>
                        <option value="Deportista">Deportista</option>
                        <option value="Senior">Senior</option>
                        <option value="Ejecutivo">Ejecutivo</option>
                        <option value="Recuperación">Recuperación</option>
                    </select>
                </div>
            </div>

        </form>
    </div>

@Html.Partial("RutinasParcial", Session["verRutinas"])


