@model  IEnumerable<Disciplinas>

@{
    ViewBag.Title = "Reserva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.css">

<br />
<br />
<br />
<br />
<br />
<div class="ui container">
    <div class="container body-content">
        <form class="ui form">
            <div class="one field">
                <div class="field">
                    <label>¿Qué disciplina desea reservar?</label>
                    <select class="ui fluid dropdown">
                        <option value="">Disciplinas</option>
                        @foreach (var item in Model)
                        {
                            <option value="">@item.nombre</option>
                        }
                    </select>
                </div>
            </div>
            <br />
            <br />
            <div class="field">
                <label>Día y hora que desea reservar</label>
                <div class="two fields">
                    <div class="field">
                        <div class="ui calendar" id="custom_format_calendar">
                            <div class="ui input left icon">
                                <i class="calendar icon"></i>
                                <input type="text" placeholder="Date">
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui calendar" id="time_calendar">
                            <div class="ui input left icon">
                                <i class="time icon"></i>
                                <input type="text" placeholder="Time">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 class="ui dividing header">Equipo</h4>
            <div class="field">
            </div>
            <div class="ui segment">
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="gift" tabindex="0">
                        <label>Desea reservar equipo para su clase?</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts
{
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.7/dist/semantic.min.js"></script>

    <script>
        $('#custom_format_calendar').calendar({
            disabledDaysOfWeek: [1, 3, 5],
            monthFirst: false,
            type: 'date',
            formatter: {
                date: function (date, settings) {
                    if (!date) return '';
                    var day = date.getDate();
                    var month = date.getMonth() + 1;
                    var year = date.getFullYear();
                    return day + '/' + month + '/' + year;
                }
            }
        })
        var minDate = new Date();
        var maxDate = new Date();
        minDate.setHours(13);
        maxDate.setHours(13);

        $('#time_calendar')
            .calendar({
                type: 'time',
                disableMinute: true,
                minDate: minDate,
                maxDate: maxDate,

            })

        $('.ui.checkbox')
            .checkbox()
            ;
    </script>

}
